body{
    background-color: blue;
}




#your{
    background-color: white;
    border: 2px solid gray;
    width:30%;
    height: 70vh;
    margin: 8% auto;
    border-radius: 30px;
    text-align: center;
    
}
#your .bany{
    width: 85%;
    height: 6vh;
    border-radius: 20px;
    margin-bottom: 14px;
    padding-left: 16px;
}
.mnb{
    text-align: left;
    margin-left: 4%;
    
    
}
.child{
    width: 90%;
    height: 10%;
    margin-top: 15px;
    border-radius: 20px;
}
.yours{
    background-color: blue;
    color: white;
}
.oiu{
        width: 90%;
        margin-top: 7%;
        margin-bottom: 7%;
}
.vary{
    background-color:red;
    color: white;
}
.havy{
    color: white;
    background-color: darkblue;
}